/* Обнуляем отступы и устанавливаем box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Полная высота страницы */
html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Основной контейнер — делаем flex-контейнером */
body {
  display: flex;
  flex-direction: column;
}

/* Шапка — фиксированная высота или авто */
header {
  background-color: #44a546;
  color: white;
  padding: 1rem;
  text-align: center;
  flex-shrink: 0; /* Не сжимается */
  height: 30vh;
}

/* Основное содержимое — занимает всё свободное пространство */
main {
  flex: 1; /* Занимает всё доступное пространство */
  padding: 2rem;
  background-color: #f4f4f4;
  min-height: 70vh; /* Минимум половина экрана */
}

/* Подвал — всегда внизу */

.btn {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    text-align: center;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0039b3;
    transform: translateY(-2px);
}


